<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Lösung für Aufgabe 2 der 1. Runde des 41. Bundeswettbewerbs für Informatik. Eint Tool um (im Rahmen der Aufgabenastellung) durch Feuerverzinkung entstandene Kristalle zu simulieren." />
    <title>bwinf-40-1</title>
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Roboto (async) -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto:300,400,500,600,700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Roboto Mono (async) -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body></body>
</html>
